@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Lato', sans-serif;
}

.bg-img{
    background-image: url('../assets/crypto-banner.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}